{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <h3>Author: {{ post.book_author }}</h3>
            <h3>Currently at: {{ post.cur_page }}</h3>
            <h3>Total Pages: {{ post.total_pages }}</h3>
            <p class="article-content"><h3>Notes:</h3> {{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}