<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snowy</title>
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <section class="main-section">
        <nav class="navbar">
            <div class="container">
                <div class="row">

                    <ul>
                        <li>
                            <a href="#" id="logo">Snowy</a>
                        </li>
                        <li>
                            <a href="" id="discover">Discover</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container" id="main">
            <div class="row">
                <div class="six columns" id="mission-statement">
                    <h1>
                        <span id="ms-title">Snowy </span>
                        <br>
                        <br>
                        The random book generator that knows what you want!
                    </h1>

                    <div class="book-animation">
                        <script
                            src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets10.lottiefiles.com/private_files/lf30_t8f3t4.json"
                            background="transparent" speed="1" style="height: 230px;" hover loop></lottie-player>
                    </div>
                </div>
                <div class="six columns" id="auth">
                    <button class="button">Sign Up</button>
                    <button class="button">Log In</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container instruction">
            <div class="row">
                <span id="instruction">Select a genre to generate a random book</span>
            </div>
        </div>
    </section>
    <section class="random-book">
        <div class="container">
            <div class="row">
                <div id="grid-random">
                    <a href="">
                        <h4 class="categories">Adventure</h4>
                    </a>

                    <a href="">
                        <h4 class="categories">Biography</h4>
                    </a>

                    <a href="">
                        <h4 class="categories">Classics</h4>
                    </a>

                    <a href="">
                        <h4 class="categories">Comics</h4>
                    </a>

                    <a href="">
                        <h4 class="categories">Mystery</h4>
                    </a>

                    <a href="">
                        <h4 class="categories">Fantasy</h4>
                    </a>

                    <a href="">
                        <h4 class="categories">Literary</h4>
                    </a>

                    <a href="">
                        <h4 class="categories">Sci-Fi</h4>
                    </a>

                    <a href="">
                        <h4 class="categories">YA</h4>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </section>

    <footer>
        <div>
            <p>Snowy is created by Kabir Ahmed Campwala</p>
        </div>
    </footer>
</body>

</html>



<!-- <ul class="nav-items ha">
    <li>
        <a href="">
            <h3>Home</h3>
        </a>
    </li>
    <li>
        <a href="">
            <h3>About</h3>
        </a>
    </li>
    <li>
        <a href="">
            <h3>Attribution</h3>
        </a>
    </li>
</ul> -->